body {
  padding-top: 56px;
  font-family: Arial, sans-serif;
}

.banner {
  height: 30vh;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-negro-degradado_23-2149209060.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.skill-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .skill-icon {
    width: 60px;
    height: 60px;
  }
}
